body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.board-header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .board-header a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: 50px;
        padding: 5px;
        background-color: lightgrey;
        cursor: pointer;
    }
