.view-admins-layout {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: center;
}

.view-admins-container {
    background-color: #ffffff;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
    opacity: 1;
}

.view-admins-header {
    padding: 20px;
    display: flex;
    gap: 10px;
}

.view-admins-header .back-button-container .view-admins-go-back-button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.view-admins-content {
    border-top: 0.5px solid black;
    height: 100%;
    padding: 20px;
}

.view-admins-detail-container{
    display: flex;
}

.view-admins-detail{
    text-align: start;
}

.view-admins-table-layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-admins-table {
    width: 100%;
    border-spacing: 0px 12px;
}

.admin-name-text{
    cursor: pointer;
}

.admin-id-tooltip {
    display: none;
    padding: 2px;
    position: absolute;
    font-size: 10px;
    background-color: lightgray;
    border: 0.5px solid black;
    border-radius: 5px;
}

.admin-name-text:hover + .admin-id-tooltip{
    display: block;
}

/*No content*/
.view-admins-table-layout .no-content-layout {
    border: none;
}