
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/page-styles/shared.css" rel="stylesheet" />
    <link href="~/Content/page-styles/auth-board.css" rel="stylesheet" />
    <script src="~/Scripts/page-scripts/shared.js"></script>
    <script src="~/Scripts/page-scripts/restrict-prev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
    <title>DashBoard</title>
</head>
<body>
    <div class="bord-header">
        <a href="@Url.Action("Logout", "Home")" class="logout-btn">
            <i class="fa-solid fa-power-off"></i>
        </a>
    </div>
    <div class="bord-content">
        Welcome! you've successfully logged in.
    </div>
</body>
</html>
